## Operatorer (operators)

_Som udgangspunkt skal du udføre hver kodecelle i hele denne tutorial efter du har læst den. Men fra nu af bliver du ikke længere eksplicit opfordret til det._

Python-operatorer er symboler, som vi bruger til at udføre operationer på værdier og variabler.

#### Tildelingsoperator (assignment operator)

Tildelingsoperatoren har vi allerede brugt mange gange. Den bruges til at tildele en værdi til en variabel:

In [ ]:
age = 8
print(age)

Eller til at tildele en variabels værdi til en anden variabel:

In [ ]:
name = "Hans"
another_variable = name
print(another_variable)

#### Aritmetiske operatorer (arithmetic operators)

Python har en række aritmetiske operatorer: `+`, `-`, `*`, `/`(division), `//`(heltalsdivision), `%`(rest) og `**`(eksponentiering).
Udfør de følgende celler og eksperimenter med dem indtil du har fundet ud af, hvad de enkelte operatorer gør.

In [ ]:
print(3 + 5)  # Addition

In [ ]:
print(4 - 1)  # Subtraktion

In [ ]:
print(3 * 2)  # Multiplikation

In [ ]:
print(7 / 2)  # Division

In [ ]:
print(7 // 2)  # Heltalsdivision (integer division)

In [ ]:
print(7 % 2)  # Rest efter heltalsdivision (remainder, modulo)

In [ ]:
print(4 ** 2)  # Eksponentiering, her: 4 i anden potens. (exponentiation)

Bemærk, at du ikke behøver et mellemrum mellem operanderne, men det er godt for læsbarheden.

`+`bruges også fx til at sammenkæde string-værdier:

In [ ]:
print("Donald" + " is a duck")

Vi kan kombinere tildelingsoperatoren med aritmetiske operatorer,

fx `+=`, `-=`, `*=`, `/=`.

Det er bare forkortelser, der gør vores kode kortere og lettere at læse.

Udfør de følgende celler og eksperimenter gerne med dem.

In [ ]:
number = 3
number = number + 4
print(number)

In [ ]:
number = 3
number += 4  # does exactly the same as "number = number + 4" would
print(number)

In [ ]:
age = 8
print("age is", age)
age += 1
print("after +=1 is age now", age)
age /= 3
print("after /=3 is age now", age)
age *= 5
print("after *=5 is age now", age)
age -= 2
print("after -=2 is age now", age)

#### Sammenligningsoperatorer (comparison operators)

Python definerer følgende sammenligningsoperatorer:
* `==`er lig med
* `!=`er ikke lig med
* `>` er større end
* `>=` er større end eller lig med
* `<` er mindre end
* `<=`er mindre end eller lig med

Der skal være en værdi til venstre og højre for operatøren. Tilsammen danner det et udsagn, som enten er `True`eller `False`.

Udfør de følgende celler og eksperimenter gerne med dem.

In [ ]:
print(6==7)

In [ ]:
print(6<7)

In [ ]:
print("Hans" != "Jesper")

In [ ]:
print(1 >= 3)

In [ ]:
print(7 <= 7)

#### Boolske logik (boolean logic)

`True` og `False` kalder man _Boolske værdier_.

Du kan også regne med dem ved hjælp af `and`, `or` og `not`.

`x and y` er `True`, hvis x og y begge er `True`.

Ellers er `x and y` `False`.

`x or y` er `True`, hvis mindst en af de to værdier x, y er `True`.

Kun hvis x og y begge er `False`, er `x or y` også `False`.

`not` gør et `True` til et `False` og omvendt.

Udfør de følgende celler og eksperimenter gerne med dem.

In [ ]:
print(True or False)

In [ ]:
print(True and True)

In [ ]:
print(not True)

In [ ]:
print(True and False)

In [ ]:
print(13 > 7 and 15 > 2)

In [ ]:
print(6 == 6 and 10 < 4)

In [ ]:
age1 = 17
age2 = 23
print(age1 > age2 or age2 != 99)

#### Medlemskabsoperatoren (membership operator)

Medlemskabsoperatoren `in`bruges til at fortælle, om en værdi er indeholdt i en liste eller en anden sekvens. Mere om lister og andre sekvenser senere.

Udfør de følgende celler.

In [ ]:
print(5 in [3, 5, 8])

In [ ]:
print(2 in [17, 66, 23])

In [ ]:
print("e" in "Hello")

In [ ]:
print("x" in "Hello")

### Øvelser

Udfør de næste celler en af gangen. Før du udfører en celle, regn resultatet ud på forhånd. Når du får et uventet resultat, find ud af hvorfor.
Leg gerne med cellerne. Forandre dem og udfør dem igen.
Du kan også tilføje nye celler.

#### Arithmetic Operators

In [ ]:
a = 9
b = 2
print(a + b)  # addition

In [ ]:
c = a - b  # subtraction
print(c * c)  #  multiplication

In [ ]:
print(a % b)  # remainder (sometimes called modulo)

In [ ]:
print(c)

In [ ]:
print(a ** c)  # exponentiation

In [ ]:
print(a / c)  # division
print(type(a / c))

In [ ]:
print(a // c)  # floor division
print(type(a // c))

In [ ]:
d = 17
d += 5
print(d)
d -= 18
print(d)

##### Comparison Operators

In [ ]:
print(4 > 3)

In [ ]:
print(4 == 3)

In [ ]:
print(4 != 3)

In [ ]:
print(4 <= 3)

##### Boolean  Operators

In [ ]:
print(not True)

In [ ]:
print(True or False)

In [ ]:
print(True and False)

In [ ]:
bool1 = 5 <= 2
bool2 = True
print(bool1, bool2)

In [ ]:
print(bool1 or bool2)

##### The in Operator

In [ ]:
numbers = [3, 1, 8]
print(2 in numbers)

In [ ]:
print(3 in numbers)

Forstod/løste du alle opgaver på denne side?
Ellers spørg [W3schools](https://www.w3schools.com/python/), [Google](https://www.google.com),
[Perplexity](https://perplexity.ai), andre elever eller læreren.

Arbejd videre med den næste Jupyter Notebook.